body{
    background: #080808;
    color: black;
    font-family: 'popins',sans-serif;
    box-sizing:border-box;
}
h1{
    font-family:punk;
    float: center;
    text-align: center;
    font-size: 80px;
    color:aliceblue
}
.card{
    margin: 20px;
    padding: 15px;
}
span{
    color: red;
}
@font-face {
    font-family:punk;
    src: url(punk\ kid.ttf);
}